/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define QWE 0
#define LWR 1
#define RSE 2
#define FUN 3
#define ARW 4
#define UTL 5

/ {
    mod_morphs {
        M_BSP: bspc_or_del {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp DEL>;
            mods = <(MOD_LSFT)>;
        };

        M_VOL: volup_or_voldn {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&kp C_VOL_DN>;
            mods = <(MOD_LSFT)>;
        };

        M_POUND: dollar_or_pound {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOLLAR>, <&uc_pound>;
            mods = <(MOD_LSFT)>;
        }
    };

    tap_dances {
        M_ESC: esc_or_exit {
            compatible = "zmk,behavior-tap-dance";
            label = "ESC_EXIT";
            #binding-cells = <0>;
            bindings =
                <&kp ESC>,
                <&kp LA(F4)>;
            tapping-term-ms = <190>;
        };
    };

    macros {
        led_soft_off: led_soft_off {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <200>;
            bindings = <&gpio BLUE GPIO_ON>,
                       <&gpio BLUE GPIO_OFF>,
                       <&gpio BLUE GPIO_ON>,
                       <&gpio BLUE GPIO_OFF>,
                       <&soft_off>;
        };
        uc_pound: uc_pound {
        label = "UNICODE_POUND";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        tap-ms = <0>;
        wait-ms = <0>;
        bindings
            = <&macro_press &kp LCTRL &kp LSHFT>
            , <&macro_tap &kp U>
            , <&macro_release &kp LCTRL &kp LSHFT>
            , <&macro_tap &kp N0 &kp N0 &kp A &kp N3 &kp SPC>
            ;
    }; 
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default {
            display-name = "qwerty";

            bindings = <
                  &kp TAB  &kp Q  &kp W     &kp E  &kp R        &kp T          &kp Y  &kp U      &kp I    &kp O     &kp P            &M_BSP
                &kp LCTRL  &kp A  &kp S     &kp D  &kp F        &kp G          &kp H  &kp J      &kp K    &kp L  &kp SEMI  &kp SINGLE_QUOTE
                &kp LSHFT  &kp Z  &kp X     &kp C  &kp V        &kp B          &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH            &M_ESC
                    &none  &none  &none  &kp LGUI  &mo 1  &lt 4 SPACE    &lt 3 ENTER  &mo 2   &kp RALT    &none     &none            &M_VOL
            >;
        };

        LWR {
            display-name = "lower";

            bindings = <
        &kp LS(TAB)  &kp EXCL  &kp AT  &kp HASH   &M_POUND  &kp PERCENT    &kp CARET  &kp AMPS          &kp STAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &trans
            &trans    &trans  &trans    &trans      &trans       &trans       &trans    &trans    &kp LEFT_BRACE       &kp RIGHT_BRACE              &kp MINUS  &kp EQUAL
            &trans    &trans  &trans    &trans      &trans       &trans       &trans    &trans  &kp LEFT_BRACKET     &kp RIGHT_BRACKET          &kp BACKSLASH  &kp GRAVE
            &trans    &trans  &trans    &trans      &trans       &trans       &trans    &trans            &trans                &trans                 &trans     &trans
            >;
        };

        RSE {
            display-name = "raise";

            bindings = <
&kp HOME  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &trans
 &kp END  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        FNC {
            display-name = "function keys";

            bindings = <
&none  &kp F1   &kp F2   &kp F3   &kp F4  &none    &none  &none  &none  &none  &none  &none
&none  &kp F5   &kp F6   &kp F7   &kp F8  &none    &none  &none  &none  &none  &none  &none
&none  &kp F9  &kp F10  &kp F11  &kp F12  &none    &none  &none  &none  &none  &none  &none
&none   &none    &none    &none    &none  &none    &none  &none  &none  &none  &none  &none 
            >;
        };

        ARW {
            display-name = "arrow keys";

            bindings = <
&none  &kp LC(LEFT)    &kp UP  &kp LC(RIGHT)  &none  &none    &none  &none  &none  &none  &none  &none
&none      &kp LEFT  &kp DOWN      &kp RIGHT  &none  &none    &none  &none  &none  &none  &none  &none
&none         &none     &none          &none  &none  &none    &none  &none  &none  &none  &none  &none
&none         &none     &none          &none  &none  &none    &none  &none  &none  &none  &none  &none  
            >;
        };
    
        UTIL {
            display-name = "Utilities";

            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none  &none  &none  &none  &none   &sys_reset
     &none         &none         &none         &none         &none         &none    &none  &none  &none  &none  &none  &bootloader
     &none         &none         &none         &none         &none         &none    &none  &none  &none  &none  &none        &none
     &none         &none         &none         &none         &none         &none    &none  &none  &none  &none  &none        &none    
            >;
        };
    };
};